// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.products {
    color: blue($color: #000000);
    border: 2px solid;
    padding: 0.1rem;
}
.product {
    background-color: gainsboro;
    padding: 3rem;
    padding: 0.1 rem;
     display: block;
}
